<div class="ui four doubling cards">
  <!-- projects go here -->
  {{#each projects}}
    <a class = "ui orange card centered" href="/project?id={{this.id}}">
      <div class = "image">
        {{#if this.picURL}}
        <img src ="{{picURL}}">
        {{else}}
        <img src = "/img/placeholder.png">
        {{/if}}
      </div>
      <div class="content">
        <div class="header">{{this.title}}</div>
        {{#if this.author}}
          <div class="meta">
            <span class="author">{{this.author}}</span>
          </div>
        {{/if}}
        <div class="description">
          <p>{{this.description}}</p>
        </div>
      </div>
      <div class="extra content">
        <p>{{this.status}}</p>
      </div>
    </a>
  {{/each}}
</div>
