<div class="ui hidden divider"></div>
<div class="ui inverted container segment">
    <h1 class="ui center aligned inverted header">Profile</h1>
    <div class="ui grid">
        <div class="column"></div>
        <div class="fourteen wide column">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                {{#if picURL}}
                                    <div class=" aspect-ratio-box" style="background-image:url('{{picURL}}');"></div>
                                {{else}}
                                    <div class=" aspect-ratio-box" style="background-image:url('/img/placeholder.png');"></div>
                                {{/if }}
                                </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <a class="ui inverted button" href="/edit/account"><i class="ui write icon"></i>Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                {{#if name}}
                                   <h2 class="ui inverted header">{{name}}</h2>                                    
                                {{else}}
                                    <h2 class="ui inverted header">Name Here</h2>
                                {{/if}}
                                <i class="ui inverted header"><a class="gallexy" href="mailto:{{email}}">{{email}}</a></i>
                                {{#if resumeURL}}
                                  <h3 class="ui inverted header"> <a class="gallexy" href="{{resumeURL}}">Download Resume</a></h3>
                                {{else}}
                                  <h3 class="ui inverted header"> <a class="gallexy" href="#">No Resume Found</a></h3>
                                {{/if}}
                                </div>
                            <div class="column">
                                {{#if year}}
                                    <h2 class="ui inverted header">Class of {{year}}</h2>
                                {{else}}
                                    <h2 class="ui inverted header">No graduation year specified.</h2>
                                {{/if}}
                                {{#if study}}
                                    {{#if school}}
                                        <h3 class="ui inverted header">Studies {{study}} at {{school}}.</h3>
                                    {{else}}
                                        <h3 class="ui inverted header">No Major and school provided.</h3>
                                    {{/if}}
                                {{else}}
                                    <h3 class="ui inverted header">No Major and school provided.</h3>
                                {{/if}}
                            </div>
                        </div>
                        <div class="ui inverted divider"></div>
                        <div class="row">
                            <div class=" column">
                                <p>
                                    {{#if bio}}
                                        {{bio}}
                                    {{else}}
                                        No biography has been provided. You can choose to do so by editing your profile from the button below.
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted divider"></div>
            <h1 class="ui center aligned inverted header">Projects</h1>
            
            {{#each projects}}
            <div class="ui inverted stackable borderless menu">
                <div class="header item">
                    <a href="#" class="ui left floated header gallexy">{{this.title}} | <i> Started {{this.time}} | {{this.status}}</i></a>
                </div>
                <div class="right item">
                    <button class="ui right floated inverted green button">Add Updates</button><span>&ensp;</span>
                    <button class="ui right floated inverted black button">Settings</button><span>&ensp;</span>
                    <button class="ui right floated inverted red button">Delete</button>
                </div>
            </div>
            {{/each}}
            
            <button class="ui inverted button"><i class="ui rocket icon"></i>  New Project</button>
            <div class="ui inverted divider"></div>

            <h1 class="ui center aligned inverted header">Options</h1>
            <div class="ui grid">
                <div class="five wide column">
                    <h4 class="ui inverted header">Publicity</h4>
                    <div class="ui divider"></div>
                    <div class="ui toggle checkbox">
                        {{#if public}}
                        <input name="visible" type="checkbox" checked="checked">
                        {{else}}
                        <input name="visible" type="checkbox">
                        {{/if}}
                        <label><p style="color:white;">Profile visible to others</p></label>
                    </div>
                    <br><br>
                    <p><a class="gallexy" href="/profile">View Profile</a></p>
                </div>
                <div class="six wide column"></div>
                <div class="five wide column">
                    <h4 class="ui inverted header">Security</h4>
                    <div class="ui divider"></div>
                    <p><a class="gallexy" href="/profile">Update Email</a></p>
                    <p><a class="gallexy" href="/profile">Update Password</a></p>
                    <p><a class="gallexy" href="/profile">Delete Account</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
