<div class="ui hidden divider"></div>
<div class="ui inverted container segment">
    {{#if name}}
    <h1 class="ui center aligned inverted header">{{name}}</h1>
    {{/if}}
    <div class="ui grid">
        <div class="column"></div>
        <div class="fourteen wide column">
            <div class="ui grid">
                <div class="four wide column">
                    {{#if picURL}}
                      <div class=" aspect-ratio-box" style="background-image:url('{{picURL}}');"></div>
                    {{else}}
                      <div class=" aspect-ratio-box" style="background-image:url('/img/placeholder.png');"></div>
                    {{/if}}
                </div>
                <div class="twelve wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                <i class="ui inverted header"><a class="gallexy" href="mailto:{{email}}">{{email}}</a></i>
                                {{#if resumeURL}}
                                  <h3 class="ui inverted header"> <a class="gallexy" href="{{resumeURL}}">Download Resume</a> </h3>
                                {{/if}}
                            </div>
                            <div class="column">
                              {{#if year}}
                                <h2 class="ui inverted header">Class of {{year}}</h2>
                              {{/if}}
                              {{#if study}}
                                {{#if school}}
                                  <h3 class="ui inverted header">Studies {{study}} at {{school}}.</h3>
                                {{/if}}
                              {{/if}}
                            </div>
                        </div>
                        <div class="ui inverted divider"></div>
                        <div class="row">
                            <div class=" column">
                              {{#if bio}}
                                <h3>Bio</h3>
                                <p>{{bio}}</p>
                              {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui inverted divider"></div>
            {{#if projects}}
              <h1 class="ui center aligned inverted header">Projects</h1>
              {{>projectCards}}
            {{/if}}
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
