<div class="ui hidden divider"></div>
<div class="ui inverted container segment">
    <h1 class="ui center aligned inverted header">Profile</h1>
    <div class="ui grid">
        <div class="column"></div>
        <div class="fourteen wide column">
            <!-- THIS IS THE FORM THAT YOU CAN SUBMIT-->
            <form class="ui inverted form" id="account_form" method="POST", action="/user/account/edit">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                 {{#if picURL}}
                                <div class=" aspect-ratio-box" style="background-image:url('{{picURL}}');">
                                    <a class="ui red right corner label" onclick="pictureModal();">
                                        <i class="write icon"></i>
                                     </a>
                                </div>
                                {{else}}
                                <div class=" aspect-ratio-box" style="background-image:url('/img/placeholder.png');">
                                    <a class="ui red right corner label" onclick="pictureModal();">
                                        <i class="write icon"></i>
                                    </a>
                                </div>
                                {{/if }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <button class="ui inverted button" type="submit"><i class="ui save icon"></i>Save Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                    <div class="field">
                                        <label>Full Name</label>
                                        <input type="text" name="name" placeholder="Enter your full name" value="{{name}}">
                                    </div>
                                <i class="ui inverted header"><a class="gallexy" href="mailto:{{email}}">{{email}}</a></i>
                                <h4>
                                    <a class="ui inverted button" onclick="resumeModal();">Upload Resume</a>
                                </h4>
                            </div>
                            <div class="column">
                                <div class="field">
                                     <label>Class Year</label>
                                    <input type="number" name="year" placeholder="Enter class year" value="{{year}}">
                                </div>
                                <div class="field">
                                    <label>Field of Study</label>
                                    <input type="text" name="study" placeholder="Enter field of study" value="{{study}}">
                                </div>
                                <div class="field">
                                    <label>Current School</label>
                                    <input type="text" name="school" placeholder="Enter school" value="{{school}}">
                                </div>
                            </div>
                        </div>
                        <div class="ui inverted divider"></div>
                        <div class="row">
                            <div class=" column">
                                <div class="field">
                                    <label>Biography or Description</label>
                                    {{#if bio}}
                                    <textarea rows="4" name="bio" class="ui input" placeholder="add brief biography here.">{{bio}}</textarea>
                                    {{else}}
                                    <textarea rows="4" name="bio" class="ui input" placeholder="add brief biography here."></textarea>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>

            <div class="ui inverted divider"></div>
            {{>accountProjects}}
            <div class="ui inverted divider"></div>
            {{>accountSecurity}}
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
{{>resumeModal}}
{{>pictureModal}}
<script src="/js/page/userAccountEdit.js"></script>
