<div class="ui hidden divider"></div>
<div class="ui inverted container segment">
    <h1 class="ui center aligned inverted header">Profile</h1>
    <div class="ui grid">
        <div class="column"></div>
        <div class="fourteen wide column">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                {{#if picURL}}
                                    <div class=" aspect-ratio-box" style="background-image:url('{{picURL}}');"></div>
                                {{else}}
                                    <div class=" aspect-ratio-box" style="background-image:url('/img/placeholder.png');"></div>
                                {{/if }}
                                </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <a class="ui inverted button" href="/user/account/edit"><i class="ui write icon"></i>Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column">
                                {{#if name}}
                                   <h2 class="ui inverted header">{{name}}</h2>
                                {{else}}
                                    <h2 class="ui inverted header">Name Here</h2>
                                {{/if}}
                                <i class="ui inverted header"><a class="gallexy" href="mailto:{{email}}">{{email}}</a></i>
                                {{#if resumeURL}}
                                  <h3 class="ui inverted header"> <a class="gallexy" href="{{resumeURL}}">Download Resume</a></h3>
                                {{else}}
                                  <h3 class="ui inverted header"> <a class="gallexy" href="#">No Resume Found</a></h3>
                                {{/if}}
                                </div>
                            <div class="column">
                                {{#if year}}
                                    <h2 class="ui inverted header">Class of {{year}}</h2>
                                {{else}}
                                    <h2 class="ui inverted header">No graduation year specified.</h2>
                                {{/if}}
                                {{#if study}}
                                    {{#if school}}
                                        <h3 class="ui inverted header">Studies {{study}} at {{school}}.</h3>
                                    {{else}}
                                        <h3 class="ui inverted header">No major and school provided.</h3>
                                    {{/if}}
                                {{else}}
                                    <h3 class="ui inverted header">No major and school provided.</h3>
                                {{/if}}
                            </div>
                        </div>
                        <div class="ui inverted divider"></div>
                        <div class="row">
                            <div class=" column">
                                <p>
                                    {{#if bio}}
                                        {{bio}}
                                    {{else}}
                                        No biography has been provided. You can choose to do so by editing your profile from the button to the left.
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted divider"></div>
              {{> accountProjects}}
            <div class="ui inverted divider"></div>
              {{> accountSecurity}}
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
